.hangman {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    margin-bottom: 100%;
  }
  
  .hangman h1 {
    font-size: 60px;
    margin-top:90px;
    margin-bottom: 20px;
  }
  
  .hangman p {
    margin: 10px 0;
  }
  
  .hangman form {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 100%;
  }
  
  .hangman input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .hangman button[type="submit"] {
    font-size: 16px;
    background-color: rgb(13, 13, 60);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .hangman button[type="submit"]:hover {
    background-color: rgb(36, 36, 60);
  }
  
  .hangman button {
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: auto;

  }
  
  .hangman button:hover {
    background-color: #001;
  }
  