.hangman {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    margin-bottom: 50px;
  }
  
  .hangman h1 {
    font-size: 60px;
    margin-top:90px;
    margin-bottom: 20px;
  }
  
  .hangman p {
    margin: 10px 0;
  }
  
  .hangman form {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  
  .hangman input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 10px;
  }
  

  

  .btn-danger{
    background-color: red;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
    color: white;
    border-radius: 25px;
  }

  